@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'IBM';
    src: url(../public/IBM-Logo.ttf);
}

@font-face {
    font-family: 'Inter';
    src: url(../public/Inter-Regular.otf);
}

.button {
    @apply border-2 text-center border-gray-400 rounded-lg p-2 m-9 font-Inter hover:border-gray-900;
}

.search{
    @apply w-4/5 text-center m-9 mb-20 border-2 rounded-lg shadow-xl hover:border-gray-400 transition duration-300 transform hover:-translate-y-1
}